@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager


@if (SignInManager.IsSignedIn(User))
{

    Usuario usuarioLogado = await UserManager.GetUserAsync(User);

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <text>@usuarioLogado.Nome</text>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" asp-controller="Usuario" asp-action="Perfil"><i class="fas fa-user-circle"></i> Perfil</a>
            <a class="dropdown-item" asp-controller="Usuario" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
        </div>
    </li>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-dark" asp-controller="Usuario" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Entrar</a></li>
    </ul>
}